<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
   
   <header>
    <input type="text" placeholder="type text here..." id="input">
   <button id="addBtn">add</button>
   </header>
   <main>
    <div class="note">
        <p class="text"></p>
        <button>delete</button>
        <button>edit</button>
        </div>
   </main>
   <script type="module" src="./js/app.js"></script>
</body>
</html>