<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/note.css">
</head>
<body>
{{!-- NaviBar --}}
    <div id="naviBar">
        <span id="naviBar">
            <span style="display: flex; align-items: center; justify-content: space-between; height: 50px; position: relative; gap: 10px; border-bottom: solid #333333 1px; margin: 5px; padding: 0 0;">
                <span style="display: flex; align-items: center; gap: 10px;">
                    <img id="dropdown-button" src="/icons/menu.png"  width="30" alt="" style="filter: brightness(0) invert(1); cursor: pointer;">
                    <ul id="dropdown-menu" style="display: none;  font-size: 13px; border-radius: 3px; padding: 10px 15px;">
                        <li style="display: flex; align-items: center; gap: 5px;"><img src="/icons/user.png"  width="18" alt="" style="filter: brightness(0) invert(1); cursor: pointer;"><a href="#">Profile</a></li>
                        <div style="width: full; height: 1px; background: #50505084;  margin-bottom: 7px; margin-top: -2px; "></div>
                        <li id="clearedNotesBtn" style="display: flex; align-items: center; gap: 5px;"><img src="/icons/trash-bin.png"  width="13" alt="" style="filter: brightness(0) invert(1); cursor: pointer;"><a href="#">Cleared Notes</a></li>
                        <li><a href="#" style="display: flex; align-items: center; gap: 5px;"><img src="/icons/dark-mode.png"  width="20" alt="" style="filter: brightness(0) invert(1); cursor: pointer;">Dark mode</a></li>
                        <li><a href="#" style="display: flex; align-items: center; gap: 5px;"><img src="/icons/refresh.png"  width="18" alt="" style="filter: brightness(0) invert(1); cursor: pointer;">Updates</a></li>
                        <li><a href="#" style="display: flex; align-items: center; gap: 5px;"><img src="/icons/share.png"  width="15" alt="" style="filter: brightness(0) invert(1); cursor: pointer;">Share</a></li>
                    </ul>
                    <span>Menu</span>
                </span>
                <span>
      <span style=" display: flex; align-items: center; gap: 20px;">
            <span>
                <img id="backToNotes" src="/icons/icons8-menu-100 (4).png"  width="25" alt="" style="filter: brightness(0) invert(1); cursor: pointer;">
            </span>
            <span>
                <img src="/icons/notification.png"  width="18" alt="" style="filter: brightness(0) invert(1); cursor: pointer;">
            </span>
             <span>
                <img id="search-icon" src="/icons/search.png"  width="18" alt="" style="filter: brightness(0) invert(1); cursor: pointer;">
            </span>
        </span>
        </span>
        </span>
        </span>
      
    </div>
<div id="createPage" style="display: none;">
    <span id="floatMgs">
        <div id="floatSave"><img id="dropdown-button" src="/icons/save.png"  width="17" alt="" style="filter: brightness(0) invert(1); cursor: pointer;"></div>
    <div id="floatDiscard"><img id="dropdown-button" src="/icons/close.png"  width="10" alt="" style="filter: brightness(0) invert(1); cursor: pointer;"></div>
    </span>

    <div id="infoGraph">
         <textarea rows="1" id="noteTextTitle" style="margin: -5px 0px; width: 70%; overflow-y: hidden; resize: none; background-color:#36363600; color: white; outline: none; border: none; font-size: 15px; font-weight: bold; text-transform: uppercase;" placeholder="Note Title"></textarea>
        <span style="display: flex; align-items: center; gap:10px;">
            <span id="savePopup" style="display: none;">
                <span style="display: flex; align-items: center; gap:7px; font-size: 11px;">
                <img id="dropdown-button" src="/icons/quality.png"  width="18" alt="">
                Saved
                <span style="display: flex; align-items: center; gap: 2px;">
                    <div style="background-color: green; height:4px; width: 4px;  border-radius: 3px;"></div>
                    <div style="background-color: rgb(5, 197, 5); height:4px; width: 4px;  border-radius: 3px;"></div>
                    <div style="background-color: rgb(121, 210, 121); height:4px; width: 4px;  border-radius: 3px;"></div>
                </span>
            </span>
            </span>
            
            <span style="font-size: 14px;">Editing Mode</span>
        </span>
    </div >
    <div id="notesGraph">
        <textarea id="noteText" style="min-height: 100px; width: 100%; overflow-y: hidden; resize: none; background-color:#36363600; color: rgb(208, 207, 207); outline: none; border: none;" placeholder="Begin your jounery right here..."></textarea>
    </div>
</div>
<div id="content" style="display: block;">
    {{!-- Category --}}
        <div id="category">
            <span>
                <span style="font-size:25px; font-weight: bold;">All Notes</span><br>
                <span style="font-size:12px;">Sort by: <span style="color: #606060; font-weight: bold;">Date</span></span>
            </span>
            <span id="addBtn">
            <img src="/icons/instagram-post.png"  width="25" alt="" style="filter: brightness(0) invert(1);">
            </span>
        </div>

    {{!-- Search Page --}}
        <div id="search-page" style="display: none; background: #121212; text-align: center; padding: 20px 0px;">
            <h2>Search</h2>
            <span id="searchSection" style="display: flex; align-items: center; justify-content: center;">
               <div id="searchBar">
                <span style="display: flex; gap: 10px;">
                    <span><img id="returnSearchBar" src="/icons/search.png"  width="20" alt="" style="filter: brightness(0) invert(1); cursor: pointer;"></span>
                <span style="width: 100%;">
                    <input id="search-input" type="text" placeholder="Search..." style="outline: none; background: none; border: none; color: white;">
                    {{!-- for microphone --}}
                    <div id="audioHere" style="color: white; font-size: 14px; display: none;"></div>
                    </span> 
                </span>
                <img id="mircoPhone" src="/icons/microphone.png"  width="22" alt="" style="filter: brightness(0) invert(1); cursor: pointer;">
            </div> 
            </span>
            
     {{!-- Searched Notes Results --}}       
            <div id="searchedBoard">
                     <div id="search-results" class="searchedBoardCard"></div>
            </div>
           
                
            </div>
        </div>
        <br>
    {{!-- NotePad --}}
    {{!--  <div id="notePad">
            <div id="container"></div>  
        </div> --}}
            <div id="board">
                <div id="boardCard"></div>
            </div>

    {{!-- Cleared Notes --}}
    <div id="clearedNotes" style="display: none;">
            <h2>Trash empty</h2>
            <p>All deleted notes have been cleared from trash!</p>
        </div>
</div>


    <script type="module" src="./js/note.js"></script>
</body>
</html>