body{
    margin: 0px;
    padding: 0px;
    background: black;
    color: white;
    padding: 0 100px;
}
//navibar
#naviBar{
    display: flex;
    justify-content: space-between;
    gap:20px;
    height: 50px;
    align-items: center;
    border-bottom: solid #333333 1px;
    margin: 5px;
    padding: 0 10px;
}
#dropdown-menu {
    position: absolute;
    top: 35px;
    background-color: #333333;
    padding: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
  }
  
  #dropdown-menu li {
    margin-bottom: 10px;
  }
  
  #dropdown-menu a {
    text-decoration: none;
    color: white;
  }
  
  #dropdown-menu a:hover {
    color: gray;
  }


#category{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    margin: 5px;
    padding: 0 10px;
}

#addBtn{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

}
#addBtn:hover{
    opacity: 
}

#boardCard {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
  }

@media only screen and (min-width: 992px) {
    #noteCardId{
        width: 49%;
        cursor: pointer;
    }
  }

@media only screen and (max-width: 992px) {
    #noteCardId{
        width: 100%;
        cursor: pointer;
    }
  }
  
#notes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background:rgb(33, 33, 33);
    padding: 5px 20px; 
    border-radius: 3px;
}
  
#leftSider{
    display: flex;
    align-items: center;
    gap: 20px;
}
#subMenu{
    display: flex;
    align-items: center;
    gap: 10px;
    height: full;
}

#container{
display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: fit-content;
    background: pink;
}

#noteBolierPlate{
     display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
#notePlate{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#noteSomething{
    font-size: 25px;
    font-weight: bold;
}

#something {
    width: 100%;
display: flex;
align-items: center;
gap: 30px;
background: #363636;
padding-top:10px;
padding-left:20px;
padding-right:20px;
margin-bottom:10px; }

#infoGraph{
    display: flex;
align-items: center; justify-content: space-between;
padding:10px 0;
}
#btnArea{
    display: flex;
    gap: 10px;
    width: 70%;
    background: #363636;
}
#createBtn{
    /* background-color:rgb(20, 170, 3); */
    background-color:#363636;
    height: 30px;
    width: 100px;
    border-radius: 3px;
    outline: none;
    color: white;
    border: none;
    cursor: pointer;
}

#discardBtn{
   /*  background-color:rgb(170, 3, 3); */
    background-color:rgba(39, 39, 39, 0);
    height: 30px;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    color: white;
    border: #363636 solid 1px;
}

#floatMgs{
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 1px;
}
#floatSave{
    background-color: #363636 ;
    /* background-color:rgb(2, 125, 41); */
    height: 40px;
    width: 40px;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 5px;
}
#floatSave:hover {
   background-color: green;
  }

#floatDiscard{
    /* background-color:rgb(125, 2, 2); */
    border: #363636 solid 1px;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 5px;
    
}
#floatDiscard:hover {
   background-color: red;
   border: red solid 1px;
  }

/* #noteTitle{
    all: unset;
    background-color: transparent;
    border-bottom: none;
    outline: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
    width: 100%;
    height: fit-content;
} */
#noteNotes{
    all: unset;
    background-color: transparent;
    border-bottom: none;
    outline: none;
    color: white;
    font-size: 12px;
    width: 100%;

    resize:vertical;
    resize: horizontal;
    overflow: auto;
    white-space: pre-wrap;
}

#noteNotes{
    background-color: transparent;
    outline: none;
    color: white;
    font-size: 12px;
    color:rgb(185, 185, 185);
    height: full;
}
#search-input{

}
#searchBar{
     background-color: #262626;
     width: 400px;
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    color:rgb(133, 132, 132);
    padding: 5px 20px;
    border-radius: 40px;
    height: 40px;
    gap: 10px;
}


#searchedNotes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background:rgb(33, 33, 33);
    padding: 5px 20px; 
    border-radius: 3px;
    width: 100%;
}

  
#searchedLeftSider{
    display: flex;
    align-items: center;
    gap: 20px;
}

#searchedSubMenu{
    display: flex;
    align-items: center;
    gap: 10px;
    height: full;
}

#searchedNotes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background:rgb(33, 33, 33);
    padding: 5px 20px; 
    border-radius: 3px;
}
#searchedBoard{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
  }
  .searchedBoardCard {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    padding-top: 30px;
  }
  #searchedNoteId {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
  }

@media only screen and (min-width: 992px) {
    #searchedNoteId{
        width: 49%;
        cursor: pointer;
    }
  }

@media only screen and (max-width: 992px) {
    #searchedNoteId{
        width: 100%;
        cursor: pointer;
    }
  }
  
